:root {
    --primary: #23a4fb;
    --cyan: #00ffcc;
    --success: #00d084;
    --bg: #0d0d0d;
    --text: #ffffff;
}
@font-face {
    font-family: 'Quantum';
    src: url('../assets/fonts/Quantum.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic';
    src: url('../assets/fonts/BankGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic';
    src: url('../assets/fonts/BankGothic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic';
    src: url('../assets/fonts/BankGothic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
    font-family: 'BankGothic', sans-serif;
    font-weight: 300;
}

/* Base */
html, body {
    background-color: #f3f3f3;
}
.navbar-brand {
    font-family: 'Quantum', sans-serif;
    font-weight: bold;
    font-variant: small-caps;

}

a {
    color: var(--cyan);
}

a:hover {
    color: #8ff7e6;
}
p, li, a {
    font-family: 'BankGothic', sans-serif;
    font-weight: 300; /* light */
}


.text-cyan {
    color: var(--cyan) !important;
}

.bg-card-dark {
    background: rgba(255, 255, 255, .2);
}
.bg-card-light {
    background: rgba(89, 89, 89, 0.8);
    color: #fff;
}

.btn-cyan {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--cyan);
    --bs-btn-border-color: var(--cyan);
    --bs-btn-hover-bg: #7ff5e3;
    --bs-btn-hover-border-color: #7ff5e3;
    --bs-btn-active-bg: #5feedd;
    --bs-btn-active-border-color: #5feedd;
}

.btn-outline-accent {
    --bs-btn-color: var(--cyan);
    --bs-btn-border-color: var(--cyan);
    --bs-btn-hover-bg: rgba(0, 255, 204, .15);
    --bs-btn-hover-border-color: var(--cyan);
}

/* Focus visible */
:focus-visible {
    outline: 2px solid var(--cyan);
    outline-offset: 2px;
    border-radius: .25rem;
}

/* Navbar active link */
.navbar .nav-link.active {
    color: #fff !important;
    font-weight: 600;
}

/* Tables */
.table-dark th, .table-dark td {
    vertical-align: middle;
}

/* Gradiente */
.bg-gradient-dark {
    background: radial-gradient(1200px 600px at 10% -10%, rgba(0, 255, 204, .15), transparent 40%),
    radial-gradient(1200px 600px at 90% 0%, rgba(2, 116, 190, .2), transparent 40%),
    var(--bg);
}

/* Utilities */
.scroll-mt-navbar {
    scroll-margin-top: 5rem;
}
.navbar .nav-link.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
}

