:root {
    --azul: #23a4fb;
    --turquesa: #00ffcc;
    --verde: #00d084;
    --negro: #0d0d0d;
}

@font-face {
    font-family: 'Quantum';
    src: url('../assets/fonts/Quantum.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'BankGothic';
    src: url('../assets/fonts/BankGothic-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
}

html, body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.font-quantum {
    font-family: 'Quantum', sans-serif;
}

.font-bankgothic {
    font-family: 'BankGothic', sans-serif;
}

.btn-turquesa {
    font-family: 'Bankgothic', sans-serif;
    color: #000;
    background-color: var(--turquesa);
    border-color: var(--turquesa);
}

.btn-turquesa:hover {
    background-color: #7ff5e3;
    color: #000;
}

.btn-turquesa:active {
    background-color: #5feedd;
}

.btn-outline-turquesa {
    color: var(--turquesa);
    border-color: var(--turquesa);
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-item .btn-outline-turquesa:hover,
.nav-item .btn-outline-turquesa:focus {
    color: #000;
    background-color: var(--turquesa) ;
    border-color: var(--turquesa);
}

.navbar .nav-link.active, .navbar .nav-link:hover {
    color: var(--turquesa) !important;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.text-turquesa {
    color: var(--turquesa) !important;
}

.bg-turquesa {
    background-color: var(--turquesa);
    color: var(--negro);
}

.bg-card-dark {
    background: rgba(255, 255, 255, .2);
}

.bg-gradient-dark {
    background: radial-gradient(1200px 600px at 10% -10%, rgba(0, 255, 204, .15), transparent 40%),
    radial-gradient(1200px 600px at 90% 0%, rgba(2, 116, 190, .2), transparent 40%),
    var(--negro);
}

.scroll-mt-navbar {
    scroll-margin-top: 5rem;
}



.bg-card-light {
    background: rgba(89, 89, 89, 0.8);
    color: #fff;
}


/* Tables */
.table-dark th, .table-dark td {
    vertical-align: middle;
}

/* Footer */
footer {
    color: #bbb;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: #00d1b2; /* Color de acento */
}
footer .text-accent {
    color: #00d1b2; /* Acento en los íconos */
}
/* Centra el logo en su contenedor */
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navbar-brand img {
    max-width: 70%;
    height: auto;
}
